.gallery {
  container: gallery / inline-size;
  max-width: 1600px;
  margin: 0 auto;
  outline: 2px solid rgba(255, 0, 0, 0.1);
  outline-offset: 10px;
  animation: gallery-width 8s linear infinite alternate;
}

.gallery__box {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

@container gallery (min-width: 400px) {
  .gallery__box {
    grid-template-columns: 1fr 1fr;
  }
}

@container gallery (min-width: 600px) {
  .gallery__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@container gallery (min-width: 800px) {
  .gallery__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
